<div class="container">
    <div class="autherization">
        <p class="title">Авторизация</p>
        <form>
            <p>Email:</p>
            <input type="text" [(ngModel)]="login" name="login" class="form-control"
                placeholder="введите email...">
            <p>Введите пароль:</p>
            <input type="text" [(ngModel)]="userPass" name="userPass" class="form-control"
                placeholder="введите пароль...">
            <button (click)="auth()" type="button" class="btn btn-success">Авторизация</button>
        </form>
    </div>
    <div class="register">
        <p class="title">Регистрация</p>
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <p>Email:</p>
            <input type="text" #email="ngModel" name="email" [(ngModel)]="formData.email" class="form-control"
                placeholder="введите email...">
            <p>Введите пароль:</p>
            <input type="text" #password="ngModel" name="password" [(ngModel)]="formData.password" class="form-control"
                placeholder="введите пароль...">
            <p>Повторите пароль:</p>
            <input type="text" #confirm="ngModel" name="confirm" [(ngModel)]="formData.confirm" class="form-control"
                placeholder="введите пароль...">

            <button type="submit" class="btn btn-success">Регистрация</button>
        </form>
    </div>
</div>