<div *ngIf="!authe.logined"  class="containerEnter">
    <div class="autherization">
        <p class="title">Авторизация</p>
        <form>
            <p>Email:</p>
            <input type="text" [(ngModel)]="login" name="login" class="form-control"
                placeholder="введите email...">
            <p>Введите пароль:</p>
            <input type="text" [(ngModel)]="userPass" name="userPass" class="form-control"
                placeholder="введите пароль...">
            <button (click)="auth()" type="button" class="btn btn-success">Авторизация</button>
        </form>
    </div>
    <div class="register">
        <p class="title">Регистрация</p>
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <p>Email:</p>
            <input type="text" #email="ngModel" name="email" [(ngModel)]="formData.email" class="form-control"
                placeholder="введите email...">
            <p>Введите пароль:</p>
            <input type="text" #password="ngModel" name="password" [(ngModel)]="formData.password" class="form-control"
                placeholder="введите пароль...">
            <p>Повторите пароль:</p>
            <input type="text" #confirm="ngModel" name="confirm" [(ngModel)]="formData.confirm" class="form-control"
                placeholder="введите пароль...">

            <button type="submit" class="btn btn-success">Регистрация</button>
        </form>
    </div>
</div>
<div *ngIf="authe.logined" class="userOffice" >
    <h2>Кабинет пользователя</h2>
    <div class="photo">
        <img src="assets/img/user.jpg" alt="">
    </div>
    <div class="info">
        <h3>Личные данные</h3>
        <table>
            <tr>
                <td>ФИО:</td>
                <td>Костив Роман</td>
            </tr>
            <tr>
                <td>Електронная почта:</td>
                <td>roman120487@gmail.com</td>
            </tr>
            <tr>
                <td>Адрес доставки:</td>
                <td>г.Львов Новаяч почта 65</td>
            </tr>
            <tr>
                <td>Язык общения:</td>
                <td>Українська</td>
            </tr>
            <tr>
                <td>Дата рождения:</td>
                <td>12.04.1987</td>
            </tr>
            <tr>
                <td>Пол:</td>
                <td>Мужской</td>
            </tr>
            <tr>
                <td>У меня есть ребенок:</td>
                <td>Да</td>
            </tr>
            <tr>
                <td>У меня есть автомобиль:</td>
                <td>да</td>
            </tr>
        </table>
        <button>Редактировать личные данные</button>
        <button class="exit" (click)="exitAccount()">Выйти</button>
    </div>
</div>