<div class="headerContainer">
    <div class="topmain">
        <p>Интернет магазин Liketechno</p>
        <div>
            <span>Контакты</span>
            <span class="stripVertical"></span>
            <a *ngIf="logined"  routerLink="account" (click)='auditLoginUser()'><span>Мой кабинет</span></a>
            <a *ngIf="!logined" routerLink="account" (click)='auditLoginUser()'><span>Войти в кабинет</span></a>
        </div>
    </div>
    <div class="stripHorizontal"></div>
    <a routerLink="main"><div class="logo"></div></a>
    <div class="search"></div>
    <div class="bascet"></div>
    <menu>
        <div class="menuBnt" (click)="showMenu()">Меню
            <img src="/assets/img/menu.svg" alt="">
        </div>
        <div class="menuVertical" [ngClass]="{hideMenu:!hideMenu}">
            <ul>
                <li>Ноутбуки</li>
                <li>Компьютеры</li>
                <li>Комплектующие</li>
                <li>Переферия</li>
                <li>Аксесуары</li>
            </ul>
        </div>
        <a routerLink="main">Главная</a>
        <a routerLink="catalog">Каталог товаров</a>
        <a routerLink="services">Услуги</a>
        <a routerLink="contacts">Контакты</a>
        <a routerLink="about">О нас</a>
    </menu>
</div>
