<div class="headerContainer">
    <div class="topmain">
        <p>Интернет магазин Liketechno</p>
        <div>
            <span>Контакты</span>
            <span class="stripVertical"></span>
            <span>Мой кабинет</span>
        </div>
    </div>
    <div class="stripHorizontal"></div>
    <div class="logo"></div>
    <div class="search"></div>
    <div class="bascet"></div>
    <menu>
        <div class="menuBnt">Меню</div>
        <a routerLink="">Главная</a>
        <a href="">Каталог товаров</a>
        <a href="">Контакты</a>
        <a href="">О нас</a>
    </menu>
</div>
