<div class="headerContainer">
    <div class="topmain">
        <p class="styleP">Интернет магазин Liketechno</p>
        <div>
            <ul class="ulList">
                <li>
                    <a href="#"> <i class="fas fa-map-marker-alt"></i> Контакты</a>
                </li>
                <li>
                    <a href="#"> <i class="fab fa-shopify"></i> Магазин</a>
                </li>
                <li>
                    <a *ngIf="authe.logined" routerLink="account" (click)='auditLoginUser()'><i class="far fa-user"></i> Мой аккаунт</a>
                    <a *ngIf="!authe.logined" routerLink="account" (click)='auditLoginUser()'><i class="far fa-user"></i> Войти в кабинет</a>
                </li>
            </ul>
            <!-- <a *ngIf="authe.logined"  routerLink="account" (click)='auditLoginUser()'><span>Мой кабинет</span></a>
            <a *ngIf="!authe.logined" routerLink="account" (click)='auditLoginUser()'><span>Войти в кабинет</span></a> -->
        </div>
    </div>
    <div class="stripHorizontal"></div>
    <div class="container-main">
        <div class="logoCtn">

            <a routerLink="main">
                <div class="logo"></div>
            </a>
        </div>
        <div class="search">
            <input type="text" value="sss">
            <button><i class="fas fa-search"></i></button>
            <!-- <input type="button" value=" "><i class="fas fa-search"></i> -->
        </div>
        <div class="bascet">
            <div class="ctnIcon">
                <i class="fas fa-retweet"></i>
                <i class="far fa-heart"></i>
                <div class="shopifyIcon">
                    <i class="fab fa-shopify"></i>
                    <span><p>2</p></span>
                </div>
            </div>
        </div>
    </div>
    <menu>
        <div class="menuBnt" (click)="showMenu()">Меню
            <img src="/assets/img/menu.svg" alt="">
        </div>
        <div class="menuVertical" *ngIf="hideMenu">
            <ul>
                <li>Ноутбуки</li>
                <li>Компьютеры</li>
                <li>Комплектующие</li>
                <li>Переферия</li>
                <li>Аксесуары</li>
            </ul>
        </div>
        <a routerLink="main">Главная</a>
        <a routerLink="catalog">Каталог товаров</a>
        <a routerLink="services">Услуги</a>
        <a routerLink="contacts">Контакты</a>
        <a routerLink="about">О нас</a>
    </menu>
</div>