<div class="adminPreferenceContainer">
    <div class="header">
        <h2>Добавление свойства товара</h2>
    </div>
    <form method="post" autocomplete="off" enctype="multipart/form-data">
        <input type="text" name="nameBrends" [(ngModel)]="nameBrends" placeholder="Введите название бренда...">

        <button class="addBtn" (click)="onSubmit()" >+ Добавить свойство</button>
    </form>


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фото</th>
                <th scope="col">Название</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of getBrendsArray; let i = index" >
                <th scope="row">{{i+1}}</th>
                <td class="imgTable"><img src={{item.images}} alt=""></td>
                <td>{{item.nameBrends}}</td>
                <td><button id="deleteBtn" (click)="deleteBrend(item._id)" >delete</button> </td>
            </tr>
        </tbody>
    </table>

</div>