
<div id="main-container-about">
    <p class="title">Про нас</p>
    <div class="wrap-blocks">
        <div class="block">
            <p class="text-title">Что мы продаем?</p>
            <p>Предлагаем вашему вниманию только провереную и 
            протестированую. технику из Европы (Германия,
            Польша, Голандия, Австрия …).
            Все ноутбуки проходят профилактическое 
            обслуживание (чистка от пыли и замена термопасты).</p>
        </div>
        <div class="block">
            <p class="text-title">Our Vision</p>
            <p>Donec libero dolor, tincidunt id laoreet vitae,
                ullamcorper eu tortor. Maecenas pellentesque,
                dui vitae iaculis mattis, tortor nisi faucibus magna,
                vitae ultrices lacus purus vitae metus.</p>
        </div>
        <div class="block">
            <p class="text-title">History of Beginning</p>
            <p>Donec libero dolor, tincidunt id laoreet vitae,
                ullamcorper eu tortor. Maecenas pellentesque,
                dui vitae iaculis mattis, tortor nisi faucibus magna,
                vitae ultrices lacus purus vitae metus.</p>
        </div>
    </div>

    <div class="wrap-2main-block">
        <div class="block-one">
            <div class="block">
                <p class="text-title">What we really do?</p>
            <p>Donec libero dolor, tincidunt id laoreet vitae, ullamcorper eu tortor. Maecenas pellentesque, dui vitae iaculis mattis, tortor nisi faucibus magna, vitae ultrices lacus purus vitae metus. Ut nec odio facilisis fringilla orci.</p>
            </div>
            <div class="block">
                <p class="text-title">Our Vision</p>
            <p>Donec libero dolor, tincidunt id laoreet vitae,
                ullamcorper eu tortor. Maecenas pellentesque,
                dui vitae iaculis mattis, tortor nisi faucibus magna,
                vitae ultrices lacus purus vitae metus.</p>
            </div>
            <div class="block">
                <p class="text-title">History of Beginning</p>
            <p>Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur. Vestibulum velit nibh, egestas vel faucibus vitae.</p>
            </div>
            <div class="block">
                <p class="text-title">History of the Company</p>
            <p>Mauris rhoncus aliquet purus, a ornare nisi euismod in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam imperdiet eu metus vel ornare. Nullam in risus vel orci feugiat vestibulum. In sed aliquam mi. Nullam condimentum sollicitudin dui.</p>
            </div>
            
        </div>
        <div class="block-two">
            <p class="text-title">What can we do for you ?</p>

            <div class="block2">
                <div class="switch">
                    <button class="active-button" (click)="clickMore()">-</button>
                    <span class="text-title">Support 24/7</span>
                </div>
                <div>
                    Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur.
                </div>
            </div>

            <div class="block2">
                <div class="switch">
                    <button class="unactive-button" (click)="clickMore()">+</button>
                    <span class="text-title">Best Quality</span>
                </div>

                <div>
                    Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur.
                </div>
            </div>

            <div class="block2">
                <div class="switch">
                    <button class="unactive-button" (click)="clickMore()">+</button>
                    <span class="text-title">Fastest Delivery</span>
                </div>
                <div>
                    Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur.
                </div>
            </div>

            <div class="block2">
                <div class="switch">
                    <button class="unactive-button" (click)="clickMore()">+</button>
                    <span class="text-title">Customer Care</span>
                </div>

                <div>
                    Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur.
                </div>
            </div>

            <div class="block2">
                <div class="switch">
                    <button class="unactive-button" (click)="clickMore()">+</button>
                    <span class="text-title">Over 200 Satisfied Customers</span>
                </div>

                <div>
                    Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur.
                </div>
            </div>

            
        </div>
    </div>
</div>