#main-container-about{
    width: 1200px;
    height: 1000px;
    margin: 0px auto;
    /* background-color: blueviolet; */
    text-align: center;
    color: rgb(82, 82, 82);
    border-top: 1px solid rgb(187, 187, 187);
    margin-top: 15px;

}
.title{
    font-weight: 500;
    font-size: 35px;
    margin-top: 30px;

}
.wrap-blocks{
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

}
.block{
    margin-right: 10px;
    margin-left: 10px;
    width: 28%;
}

.text-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.text-title + p{
    line-height: 25px;
    font-size: 13px;
}

.wrap-2main-block{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.block-one{
    width: 55%;
    height: 300px;
    flex-wrap: wrap;
    display: flex;
}

.block-one .block{
    width: 40%;
    margin-bottom: 30px;
    text-align: left;
}

.block-two{
    width: 40%;
    /* background-color: brown; */
}

.block2 .switch{
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    /* border-radius: 7px; */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 3px;
    text-align: left;
    

}
.switch span{
    font-size: 18px;
}

.block2 button{
    width: 40px;
    height: 40px;
    border-radius: 7px;
    font-size: 25px;
    color: rgb(82, 82, 82);
    margin-right: 25px;
    /* vertical-align: middle; */

}

.active-button{
    background-color: #A3D133;
    border: 0;

}
.unactive-button{
    background-color: white;
    border: 1px solid rgb(219, 219, 219);

}

.switch+div{
    border: 1px solid rgb(219, 219, 219);
    border-top: 0;
    margin-bottom: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: left;
    padding: 10px;
    font-size: 14px;


}
