* {
    outline: none;
}

.adminProdContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 20px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.addBtn {
    padding: 10px 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin: 0px 100px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
}
.addBtn:hover{
    opacity: 1;
}

.search {
    position: absolute;
    right: 25px;
}

.search>input {
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid lightgrey;
}

.filtr {
    width: 100%;
    margin-top: 20px;
}

.filtr>form {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
}

.filtr>form>select {
    width: 300px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid lightgrey;
    margin-right: 25px;
    font-weight: normal;
}

select[name='quantity_show'] {
    position: absolute;
    right: 0px;
}
.table{
    width: 100%;
    margin-top: 25px;
}
.thead-dark{
    background-color: #2B303B;
    color: whitesmoke;
    font-size: 18px;
}
tr{
    height: 40px;
}
td{
    padding-left: 10px;
}
td>img{
    height: 50px
}