<div *ngIf="adminka" class="adminContainer">
    <div class="header">
        <span>Панель администратора</span>
        <div class="exit" routerLink="/main">Exit</div>
    </div>
    <nav>
        <ul>
            <li (click)="catalogListOpen()">Каталог</li>
            <ul class="catalogList" [ngClass]="{catalogListShow:catalogListShow}">
                <li routerLink="products" routerLinkActive='active'>Товары</li>
                <li routerLink="category" routerLinkActive='active'>Категории</li>
                <li routerLink="brends" routerLinkActive='active'>Бренды</li>
                <li routerLink="preference" routerLinkActive='active'>Свойства</li>
            </ul>
            <li>Заказы</li>
            <li>Покупатели</li>
            <li>Обратная связь</li>
            <li>Банеры</li>
        </ul>
    </nav>



    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>
