<div class="container">
    <div class="wrapper">
        <div class="container-header">
            <p>Категории - 0</p>
            <div class="add">+ Добавить категорию</div>
        </div>
        <div class="container-admin-main">
            <div class="container-table">
                <div class="table-info">
                    <input type="checkbox" name="" id="">
                    <p>Название</p>
                    <i class="fas fa-trash"></i>
                </div>
                <div class="table-render">
                    
                </div>
            </div>
        </div>
    </div>
</div>