<div class="container">
    <div class="container-header">
        <p>Категории - 0</p>
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <span>Название:</span>
            <input type="text" #title="ngModel" name="title" [(ngModel)]="formData.title">
            <button type="submit" class="add">+ Добавить категорию</button>
        </form>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col" class="action">Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of getCategoryArray; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.title}}</td>
                <td class="action">
                    <button id="deleteBtn" (click)="deleteCategory(item.title)">Delete</button>
                    <button id="editBtn" (click)="EditCategory(item.title)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>