<div class="stripHorizontal"></div>
<div class="mainContainer">
    <div class="slider">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slide" *ngFor="let item of slides">
                <img src="{{item.img}}" alt="">
            </div>
        </ngx-slick-carousel>
    </div>
    <div class="recomended">
        <div class="title"><span> Рекомендуемые</span></div>
        <div class="product"></div>
    </div>
</div>