<div class="container">
    <div class="filters">
        <div class="filtpPart" id="brends">
            <p>Бренды</p>
            <ul>
                <li *ngFor="let item of getBrendsArray"><input type="checkbox" name="" id="">{{item.nameBrends}}</li>
            </ul>
        </div>
        <div class="filtpPart" id="categories">
            <p>Категории</p>
            <ul>
                <li *ngFor="let item of getCategoryArray"><input type="checkbox" name="" id="">{{item.title}}</li>
            </ul>
        </div>
        <div class="filtpPart" id="preferences">
            <p>Свойства</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="main">

        <div class="product" *ngFor="let item of getProductArray">
            <p class="category">{{item.categoryes}}</p>
            <div class="firstimgProd">
                <img src="{{item.images[0].path}}" alt="">
            </div>
            <p class="titleProd">{{item.nameProd}}</p>
            <p class="brandName">Бренд: {{item.nameBrend}}</p>
            <p class="price">{{item.price}} грн.</p>
            <div class="compare"><img src="assets/icons/libra.svg" alt=""> Добавить к сравнению</div>
            <div class="details" routerLink='/details'><img src="assets/icons/arrow.svg" alt=""></div>
            <span class="altDetails">Подробнее</span>
            <div class="fichi">
                <img *ngIf="item.newer"  src="assets/icons/new.svg" alt="">
                <img *ngIf="item.theBest" src="assets/icons/vip.svg" alt="">
                <img *ngIf="item.recomend" src="assets/icons/like.svg" alt="">
            </div>
        </div>

    </div>
</div>