.container {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filters {
    width: 20%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.main {
    width: 78%;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 5px;
    grid-template-rows: repeat(auto-fit, 350px);
    justify-items: center;
    align-content: flex-start;
    margin-bottom: 200px;
}

/* --------------product-------- */

.product {
    padding: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    position: relative;
}

.product:hover {
    transition: 0.2s;
    height: 550px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.product:hover .details {
    transition: 0.5s;
    background-color: #A3D133;
}

.firstimgProd {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.firstimgProd img {
    width: 100%;
}
.category{
    font-size: 14px;
    opacity: 0.5;
}
.titleProd {
    font-size: 16px;
    font-weight: bold;
    color: #0062BD;
}

.product p {
    margin: 10px;
}

.price {
    font-size: 25px;
    color: #F84147;
}

.details {
    background-color: rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    /* border: 1px solid #A3D133; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 280px;
    /* z-index: 5; */
}

.altDetails {
    opacity: 0.1;
    position: absolute;
    right: 15px;
    top: 245px;
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 5px;
    
}

.details>img:hover .altDetails{
    opacity: 1;
    transition: 0.5s;
    /* z-index: 5; */
}

.details img {
    width: 80%;
    height: 80%;
}
.compare {}

/* ------------------------- */

.filtpPart {
    min-height: 50px;
    margin-top: 25px;
}

.filtpPart>p {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.filtpPart li {
    list-style-type: none;
    margin-top: 10px;
}

input[type='checkbox'] {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}