<div class="container">
    <div class="filters">
        <div class="filtpPart" id="brends">
            <p>Бренды</p>
            <ul>
                <li *ngFor="let item of getBrendsArray" ><input type="checkbox" name="" id="">{{item.nameBrends}}</li>
            </ul>
        </div>
        <div class="filtpPart" id="categories">
            <p>Категории</p>
            <ul>
                <li *ngFor="let item of getCategoryArray" ><input type="checkbox" name="" id="">{{item.title}}</li>
            </ul>
        </div>
        <div class="filtpPart" id="preferences">
            <p>Свойства</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="main"></div>
</div>
