.container{
    background-color: #EDEFF0;
    height: 100vh;
}
.wrapper{
    padding: 60px 40px;
}
.container-header p{
    font-size: 26px;
}
.container-admin-main{
    margin-top: 15px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
}
.btn{
    display: block
}